@using FamilyExpenseTracker.Models
@model FamilyExpenseViewModel
@{
    ViewBag.Title = "AddFamilyExpense";
}

<h2>AddFamilyExpense</h2>

@using (Html.BeginForm())
 {
    <table>
        <tr>
            <td>Name</td>
            <td>
                @Html.DropDownListFor(x => x.FamilyMemberName, Model.FamilyMembers)
            </td>
        </tr>
        <tr>
            <td>Purpose</td>
            <td>
                @Html.TextBoxFor(x => x.Purpose)
            </td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>
                @Html.TextBoxFor(x => x.Amount)
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>
                @Html.EditorFor(x => x.Date)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="Submit">Add Expense</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ActionLink("Back", "GetFamilyExpenses", "FamilyExpense")</td>
        </tr>
    </table>
 }
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#Date").datepicker({
                dateFormat:'dd/M/yy'
            })
        })
    </script>
}